.wrapper {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #212B36;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        justify-content: center;
        flex-direction: column;
    }
}