.topbar {
    background-color: #F9FAFB !important;
    padding: 10px;
    color: #212B36 !important;
    position: fixed !important;
    width: 100% !important;
}

.topItemHolder {
    display: flex !important;
    justify-content: space-between !important;
    padding: 0 14px 0 14px;
}

.menuButton,
.menuButton:hover {
    color: #212B36 !important;
}